.eu-cookie-compliance-banner {
  background-color: acas-color("teal-dark");
  .eu-cookie-compliance-content {
    @extend .container;
    @extend %margin-vertical-4x;

    color: acas-color("white");
    font-style: normal;
    max-width: 100%;
  }
  .eu-cookie-compliance-message {
    @extend .col-xs-12;
    @extend .col-sm-8;
    max-width: 100%;
    p {
      @extend %margin-bottom-0x;
    }
    .title {
      @extend %margin-right-10x;

      display: inline-block;
      font-family: $font-family-headers;

      vertical-align: middle;
    }
    .text {
      @extend .text-small;
      display: inline-block;
      font-family: $font-family-base;
      vertical-align: middle;
    }
  }
  .eu-cookie-compliance-buttons {
    @extend .col-xs-12;
    @extend .col-sm-4;
    @extend %margin-top-7x;

    button {
      @extend .text-small;
      cursor: pointer;

      background: acas-color("white");
      border: 1px solid transparent;

      color: acas-color("teal-dark");

      font-family: $font-family-headers;

      min-width: 8em;
      padding: .5em;
      padding-right: 2em;

      position: relative;

      &:first-child {
        @extend %margin-right-2x;
      }

      &:after {
        @include acas-shape-arrow($direction: right, $base: 10px, $height: 10px);
        content: "";
        border-color: acas-color("teal-dark");
        position: absolute;
        margin: auto;  

        bottom: 1px;
        top: 4px;
        right: 1em;
      }

      &:hover, &:focus {
        background: acas-color("teal-dark");
        color: acas-color("white");
        border: 1px solid acas-color("white");
        &:after {
          border-color: acas-color("white");
        }
      }
      
    }
  }
}

