.eu-cookie-compliance-banner {

  &, a {
    color: acas-color("white");
  }

  background-color: acas-color("teal-dark");
  overflow: auto;

  .eu-cookie-compliance-content {
    @extend .container;
    @extend %padding-top-1x;
    @extend %padding-bottom-2x;
    max-width: 100%;
  }

  .eu-cookie-compliance-message {
    @extend .row;
    p {
      @extend .col-xs-12;
      @extend %margin-bottom-0x;
      @extend .text-small;
    }
  }
}

