 article.teaser {

  @extend %margin-bottom-6x;

  .article__wrapper {
    @extend %padding-vertical-4x;
    @extend %padding-horizontal-5x;

    border: 4px solid acas-color("lime");
    border-radius: 6px;
    position: relative;

    &:hover, &:focus {
      background: acas-color("gray-light");
    }

  }

  .article__content {
    @extend .text-small;
    color: acas-color("black");
    width: 100%;
    p {
      margin-bottom: 0;
    }
  }
}

@include bp(sm) {
  article.teaser {
    .article__wrapper {
      min-height: 15em;
    }
    .article__content {
      bottom: 1em;
      left: 0;
      overflow: hidden;
      padding: 0 1.5em;
      position: absolute;
    }
  }
}

@include bp(lg) {
  article.teaser {
    .article__wrapper {
      min-height: 12em;
    }
  }
}
